* {
  font-family: "Kanit", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header styling */
.header-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 28px;
}

.logo {
  margin: 0;
  padding: 0;
  height: 45px;
}

.logo img {
  height: 45px;
}

ul {
  list-style: none;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  gap: 70px;
  margin: 0;
}

.login {
  font-size: 22px;
  color: #493628;
}

hr {
  color: black;
  height: 1px;
}
